* {
    margin: 0;
    padding: 0;
}
body {
    background-color: white;
    font-family: Arial, sans-serif;
}
.top {
    text-align: right;
    padding: 20px 30px;
}
.top a {
    margin-left: 15px;
    text-decoration: none;
    color: #333;
    font-size: 14px;
}
.top .more-products {
    color: #fff;
    background-color: #1677ff;
    padding: 8px 14px;
}
.center {
    text-align: center;
    margin-top: 100px;
}
.logo img {
    width: 400px;
    margin-bottom: 20px;
}

.search {
    display: flex;
    width: 550px;
    margin: 0 auto;
}
.search input {
    flex: 1;
    height: 40px;
    border: 1px solid #ddd;
    border-radius: 20px 0 0 20px;
    padding-left: 20px;
}
.search button {
    width: 100px;
    height: 42px;
    background-color: #4e6ef2;
    color: white;
    border: none;
    border-radius: 0 20px 20px 0;
}
.bottom {
    text-align: center;
    margin-top: 80px;
}
.qrcode img {
    width: 100px;
    margin-bottom: 10px;
}
.qrcode p {
    font-size: 14px;
    margin-top: 5px;
}
.copyright {
    margin-top: 30px;
    color: #999;
    font-size: 12px;
}
.footer {
            margin-top: auto;
            padding: 20px 0;
            text-align: center;
             color: #535353;
            text-decoration: none;
            font-size: 12px;
            margin: 0 10px;
        }
