* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    padding: 20px;
    min-height: 100vh;
    align-items: center;
}

[class^="box"] {
    width: 320px;
    padding: 20px;
    color: #fff;
    font-family: Arial, sans-serif;
    margin-top: 10px;
    font-size: 14px;
    line-height: 1.5;
    border-radius: 3%;
}

.box1 {
    height: 500px;
    background-color:rgb(53, 136, 230);
    flex-shrink: 0;
  
}

.box2 {
    height: 300px;
    background-color:rgb(34, 169, 34);
    flex-shrink: 1;
    margin-left: 20px;
}


.box3 {
    height: 100px;
    background-color: #f39c12;
    flex-shrink: 1;
    margin-left: 20px;
    margin-top: -490px;
}


.box4 {
    height: 600px;
    background-color: #e74c3c;
    flex-shrink: 2;
    margin-left: 20px;
}

